:root {
  --short: 38%;
  --large: 62%;
}

body {
  background-image: url(../svg/background.svg);
  background-size: cover;
}

html {
  scroll-behavior: smooth;
}

.upload-zone {
  left: 0;
  bottom: 0;
  position: fixed;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.tall {
  height: var(--large);
}

.small {
  height: var(--short);
}

.dash-bordered {
  border-top: 2px dashed midnightblue;;
  border-bottom: 2px dashed midnightblue;;
  outline-offset: -10px;
}

.lightyellow {
  background: lightyellow;
}

.wide {
  width: var(--large);
}

.narrow {
  width: 25%;
}

.top {
  left: 0;
  top: 0;
  position: fixed;
}

.icon {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  display: inline-block;
  left: 0;
}

.title {
  padding-top: 0.5em;
  margin-right: 1em;
  vertical-align: bottom;
  text-align: center;
  font-family: "JetBrains Mono ExtraBold", monospace;
  font-size: 10pt;
  white-space: nowrap;
  max-height: 25%;
  height: 1.5em;
  overflow-x: scroll;
  overflow-y: hidden;
}

.left {
  float: left;
}

.right {
  float: right;
}

.cassette-tape {
  background-image: url(../svg/cassette-tape.svg);
}

.radio {
  background-image: url(../svg/radio.svg);
}

.max-width {
  width: 100%;
}

.max-height {
  height: 100%;
}

.inline-block {
  display: inline-block;
}
