<!DOCTYPE web-app PUBLIC
  "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
  "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>SummationServlet</servlet-name>
    <servlet-class>org.klaster.endpoint.SummationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SubtractionServlet</servlet-name>
    <servlet-class>org.klaster.endpoint.SubtractionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MultiplicationServlet</servlet-name>
    <servlet-class>org.klaster.endpoint.MultiplicationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DivisionServlet</servlet-name>
    <servlet-class>org.klaster.endpoint.DivisionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SummationServlet</servlet-name>
    <url-pattern>/sum</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubtractionServlet</servlet-name>
    <url-pattern>/sub</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MultiplicationServlet</servlet-name>
    <url-pattern>/mul</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DivisionServlet</servlet-name>
    <url-pattern>/div</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>DefaultFilter</filter-name>
    <filter-class>org.klaster.filter.DefaultFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>DefaultFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>
