<!DOCTYPE html>
<html lang="en">
<head>
  <meta
      content="width=device-width, initial-scale=1"
      name="viewport">
  <meta charset="UTF-8">
  <title>Table layout</title>
  <style type="text/css">
    table {
      overflow-x: auto;
      margin: 0 auto;
    }

    body {
      background-color: rgba(251, 255, 150, 0.74);
    }

    table, td {
      text-align: center;
      vertical-align: center;
      word-wrap: break-spaces;
      max-height: 100%;
      max-width: 100%;
    }

    td {
      background-color: rgba(123, 188, 245, 0.56);
    }

    thead {
      background-color: rgb(38, 139, 210);
    }
  </style>
</head>
<body>
<table width="100%">
  <tbody>
  <thead>
  <th colspan="3">
    <h1>Technologies</h1>
  </th>
  </thead>
  <tr>
    <td colspan="3">
      <table width="100%">
        <tr>
          <td>
            <image src="https://netbeans.org/attachments/images/project/java.png"/>
          </td>
          <td>
            <image src="http://w3.org/html/logo/downloads/HTML5_Badge_128.png"/>
          </td>
          <td>
            <image src="https://klauslaube.com.br/images/blog/css3-logo.png"/>
          </td>
          <td>
            <image src="https://davidrengifo.files.wordpress.com/2017/08/nodejs_logo.png?w646"/>
          </td>
          <td>
            <image src="https://video-react.js.org/assets/logo.png"/>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="2"></td>
    <td rowspan="6">
      <img src="https://cdn0.iconfinder.com/data/icons/mobile-stuff/512/mobile_ads-128.png"/>/<br>
    </td>
  </tr>
  <tr>
    <td>
      <image src="https://netbeans.org/attachments/images/project/java.png"/>
    </td>
    <td>
      Java is a general-purpose programming language that is class-based, object-oriented, and designed to have as few implementation dependencies as possible. It is intended
      to let application developers write once, run anywhere, meaning that compiled Java code can run on all platforms that support Java without the need for recompilation.
    </td>
  </tr>
  <tr>
    <td>
      <image src="http://w3.org/html/logo/downloads/HTML5_Badge_128.png"/>
    </td>
    <td>
      HTML5 is a software solution stack that defines the properties and behaviors of web page content by implementing a markup based pattern to it. HTML5 was the fifth and
      last major version of HTML that is a World Wide Web Consortium recommendation
    </td>
  </tr>
  <tr>
    <td>
      <image src="https://klauslaube.com.br/images/blog/css3-logo.png"/>
    </td>
    <td>
      Java is a general-purpose programming language that is class-based, object-oriented, and designed to have as few implementation dependencies as possible. It is intended
      to let application developers write once, run anywhere, meaning that compiled Java code can run on all platforms that support Java without the need for recompilation.
    </td>
  </tr>
  <tr>
    <td>
      <image src="https://davidrengifo.files.wordpress.com/2017/08/nodejs_logo.png?w646"/>
    </td>
    <td>
      Node.js is an open-source, cross-platform, JavaScript runtime environment that executes JavaScript code outside of a browser. Node.js lets developers use JavaScript to
      write command line tools and for server-side scripting—running scripts server-side to produce dynamic web page content before the page is sent to the user's web browser.
    </td>
  </tr>
  <tr>
    <td>
      <image src="https://video-react.js.org/assets/logo.png"/>
    </td>
    <td>
      React is a JavaScript library for building user interfaces. It is maintained by Facebook and a community of individual developers and companies. React can be used as a
      base in the development of single-page or mobile applications
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>